.ChatMessage{
    margin: 15px 5px;
}
.Chatmessage__profile{
    display: flex;
    align-items: center;
}
.Chatmessage__profile p{
    display: flex;
    align-items: center;
    margin-left: 12px;
    height: auto;
    padding: 8px;
    background-color: lightgray;
    border-radius: 15px;
    font-size: 15px;
    word-break: break-all;
}
.Chatmessage__info{
    display: flex;
    flex-direction: column;
}
.Chatmessage__text{
    font-size: 13px;
    margin-left: 15px;
    background-color: #fff;
    font-weight:500;
}