.Modal__cont{
    position: relative;
}
.Modal{
    position: fixed;
    background-color: #fff;
    bottom: 0; 
    width:320px;
    height: 450px;
    right: 50px;
    z-index: 1000;
    box-shadow: 0px 2px 15px -3px #000000;
}
.Modal button{
    float: right;
    margin: 10px 10px;
    height: 30px;
    width: 30px;
    border: none;
    outline: none;
   
    cursor: pointer;
    background: #fff;
}
